:root {
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--main-color: #2196f3;
	--main-text-color: #757575;
	--second-text-color: #212121;
	--white-color: #fff;
	--dark-background: #2f303a;
	--light-blue: #f5f4fa;
}
/* ==== GLOBAL ==== */
body {
	font-family: var(--main-font);
	color: var(--main-text-color);
}

a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
}
img {
	display: flex;
}
button {
	display: block;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.section:not(.about-us) {
	padding-top: 94px;
}
.section {
	padding-bottom: 94px;
}
.list {
	list-style: none;
	display: flex;
}
/* ==== END GLOBAL ==== */
/* ==== HEADER ==== */
.header .container {
	display: flex;
}
.logo,
.logo-span,
.logo-footer {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}
.logo {
	margin-top: 24px;
	margin-right: 93px;
	margin-bottom: 25px;
	color: var(--second-text-color);
}
.logo-span {
	color: var(--main-color);
}
.logo-footer {
	color: var(--white-color)
}
.nav-list {
	margin-right: 345px;
}
.nav-list,
.header-address {
	margin-top: 32px;
	margin-bottom: 32px;
}
.nav-list-item:not(:last-child) {
	margin-right: 46px;
}
.active-link-pages {
	position: relative;
}
.active-link-pages::after {
	content: "";
	position: absolute;
	display: block;
	top: 46px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--main-color);
}
.nav-list-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon {
	width: 16px;
	height: 12px;
}
.phone-icon {
	width: 10px;
	height: 16px;
}
.mail-icon,
.phone-icon {
	fill: currentColor;
	margin-right: 10px;
}
.header-address-mail {
	margin-right: 30px;
}
.nav-list-link:hover,
.nav-list-link:focus,
.header-address-mail:hover,
.header-address-mail:focus,
.header-address-phone:hover,
.header-address-phone:focus {
	color: var(--main-color);
	
}
.header-address {
	display: flex;
}
.header-address-mail,
.header-address-phone {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--main-text-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active-link-pages {
	color: var(--main-color);
}
/* ==== END HEADER ==== */

/* ==== MAIN ==== */

/* ---- HERO ---- */
.hero {
	background: var(--dark-background);
	background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
		  rgba(47, 48, 58, 0.4)),
	url("../images/Main/Hero/hero-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
.hero .container {
	flex-direction: column;
}
.main-title-div {
	display: flex;
	justify-content: center;
}

.main-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.363;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	padding-top: 106px;
	color: var(--white-color)
}
.modal-btn-div {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	padding-bottom: 106px;
}
.modal-btn {
	cursor: pointer;
	padding: 10px 42px;
	background-color: var(--main-color);
	color: var(--white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}


/* ---- OUR ATUTS ---- */
.our-atuts .container {
	display: flex;
	align-items: center;
}
.atuts-list-item:not(:last-child) {
	padding-right: 30px;
}
.div-icon {
	text-align: center;
	padding: 25px 100px;
	background: var(--light-blue);
}
.lorem-icon {
	width: 70px;
	height: 70px;
}

.undertitle-atuts {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--second-text-color);
}
.description-atuts {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
}

/* ---- ABOUT US ---- */
.about-us .container {
	text-align: center;
}
.h2-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.166;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	color: var(--second-text-color);
}
.about-us-ul {
	display: flex;
	align-items: center;
}
.about-us-list-item:not(:last-child) {
	padding-right: 30px;
}
.about-us-div-relative {
	position: relative;
}
.about-us-div-absolute {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);
	position: absolute;
	bottom: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.142;
	text-transform: uppercase;
	color: #fff;
}

/* ---- OUR TEAM --- */

.our-team {
	background: var(--light-blue)
}
.our-team-list-item:not(:last-child){
	margin-right: 30px;
}
.our-team-list-item {
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.undertitle-team {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--second-text-color);
}
.description-team {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.187;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 30px;
}
.social-list {
	display: flex;
	justify-content: center;
}
.social-link {
	width: 44px;
	height: 44px;
	display: block;
	padding: 12px;
	margin-bottom: 30px;
	border-radius: 50%;
	fill: #AFB1B8;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
	fill: #fff;
	background-color: var(--main-color);
}
.social-icon {
	width: 20px;
	height: 20px;
}
.social-list-item:not(:last-child) {
margin-right: 10px;
}

/* ==== OUR CLIENTS ==== */
.client-icon {
    width: 170px;
	height: 92px;
}
.client-list-item:not(:last-child) {
	margin-right: 30px;
}
.client-link {
	fill: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
 .client-link:hover,
 .client-link:focus {
  	fill: #2196f3;
  	border: 1px solid #2196f3;
	  
}
/* ==== END MAIN ==== */

/* ==== FOOTER ====*/
.footer  {
	background: var(--dark-background);
}
.footer .container {
	padding-bottom: 60px;
}
.ul-footer {
	display: flex;
	flex-direction: column;
}
.left-side {
	padding-top: 60px;
}
.footer-address {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	margin-top: 20px;
}
.footer-list-item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-list-link {
	color: var(--white-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-mail,
.footer-list-phone {
	color: rgba(255, 255, 255, 0.6);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover,
.footer-list-mail:hover,
.footer-list-phone:hover,
.footer-list-link:focus,
.footer-list-mail:focus,
.footer-list-phone:focus {
	color: var(--main-color);
}
.join-us {
	padding-top: 72px;
	margin-left: 70px;
}
.join-us-title {
	color: var(--white-color);
	
	margin-bottom: 20px;
}
.icon-ul {
	flex-direction: column;
}
.footer-icon {
	text-align: center;
	width: 20px;
	height: 20px;
	
}
.footer-list-item2:not(:last-child) {
	margin-right: 10px;
}
.footer-link:hover,
.footer-link:focus {
	fill: var(--white-color);
	background-color: var(--main-color);
}

.footer-link {
	display: inline-block;
	align-items: center;
	width: 44px;
	height: 44px;
	padding: 12px;
	border-radius: 50%;
	fill: var(--white-color);
	background: rgba(255, 255, 255, 0.1);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-div {
	display: flex;
}

/* ==== END FOOTER ==== */

/* ==== BACKDROP ==== */

.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 528px;
	min-height: 581px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

/* ==== PORTFOLIO ==== */

.portfolio-header {
	border-bottom: 1px solid #ECECEC;
}
.portfolio-section .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio-list-item1:not(:last-child) {
	margin-right: 8px;
}
.portfolio-list-item1 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 0.03em;
	color: var(--second-text-color);
}
.portfolio-button {
	background:var(--light-blue);
	border: none;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.03em;
	padding: 6px 22px;
	border-radius: 4px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
	background: var(--main-color);
	color: var(--white-color);
	cursor: pointer;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
				0px 1px 2px 0px rgba(0, 0, 0, 0.08),
                0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-main-ul1 {
	margin-bottom: 50px;
}
.portfolio-main-ul2 {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-box {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--white-color);
	font-size: 18px;
	line-height: 1.555;
	letter-spacing: 3%;
	padding: 49px 45px 49px 24px;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
.portfolio-box:hover .overlay {
	transform: translateX(0);

}
.portfolio-list-item2:not(:last-child) {
	margin-right: 30px;
}
.portfolio-list-item2:nth-child(-n+6) {
	margin-bottom: 30px;
}
.portfolio-list-item2 {
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item2:hover,
.portfolio-list-item2:focus {
cursor: pointer;
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
			0px 4px 4px 0px rgba(0, 0, 0, 0.06),
			0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.undertitle-portfolio {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--second-text-color);
	margin-top: 20px;
	padding-left: 24px;
}

.description-portfolio {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	margin-top: 4px;
	margin-bottom: 20px;
	padding-left: 24px;
}
.border-div {
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
}
.portfolio-div-hover {
	position: relative;
	width: auto;
	height: auto;
	overflow: hidden;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-div-hover:hover,
.portfolio-div-hover:focus {
	
}