.client__icon {
    width: 170px;
	height: 92px;
}
.client__item:not(:last-child) {
	margin-right: 30px;
}
.client__link {
	fill: #afb1b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  	fill: #2196f3;
  	border: 1px solid #2196f3;
    }
}
 