.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}
.modal-form__description {
	margin-top: 40px;
	margin-bottom: 12px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	color: #000;
}

.modal-form__label,
.checkbox {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 12px;
}
.checkbox__label {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	& a {
	text-decoration: underline;
	color: var(--main-color);
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	}

	& p {
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	}

	&::before {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border: 2px solid #000;
	border-radius: 2px;
	margin-right: 8px;
	}
}
.checkbox__input[type=checkbox] {
	visibility: hidden;
}
.checkbox__input:checked +.checkbox__label::before {
	background-color: var(--main-color);
	border: none;
	border-radius: 2px;
	background-image: url(../images/Vector.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label:not(:last-child) {
	margin-bottom: 10px;
}
.modal-form__input {
	border-radius: 4px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	width: 448px;
	padding-left: 34px;
	position: relative;

	&:focus-within {
	border-color: var(--main-color);
	fill: var(--main-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:focus-within + svg {
	fill: var(--main-color);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:not(.textarea) {
	height: 40px;
	}
}

.textarea {
	padding: 12px 16px;
	resize: none;
}
.small-modal-box {
	margin-top: 4px;

	& svg {
	position: absolute;
	left: 48px;
	margin-top: 11px;
	}
}
